@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');


* {
  margin: 0%;
  padding: 0%;
  color: #fff;
  /* font-family: Gilroy-Medium; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 200vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.main {
  position: absolute;
  display: flex;
  overflow: hidden;
}

.page1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.back {
  width: 100vw;
  height: 100vh;
}

.back video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.working-area {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  max-width: 1920px;

  /* border: 1px solid red; */
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 99;
}

.nav-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 10px;
  left: 7.5%;
  position: absolute;
}

.nav-left {
  padding: 0 20px;
}

.nav-middle {
  padding: 0 20px;
}

.nav-middle h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.nav-right button {
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: 4.5px;
}

.nav-right .icon {
  font-size: 22px;
}

.middle-text {
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 0%;
  transform: translate(0%, -50%);
  min-width: 70%;
}

.middle-text h1 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
}

.middle-text p {
  /* font-family: Gilroy-Thin; */
  /* font-family: Poppins-thin; */
  font-weight: 300;
  line-height: 1;
}

.middle-text h4 {
  margin-top: 3px;
  font-size: 20px;
  padding-top: 10px;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 45%;
  min-width: 10%;
  transform: translate(0%, -50%);
}

.scroll button {
  border: none;
  outline: none;
  background: transparent;
  animation-name: move;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.scroll button .arrow-icon {
  font-size: 35px;
}

.scroll h5 {
  font-size: 15px;
  /* font-family: Gilroy-Regular; */
  font-weight: 500;
  text-transform: uppercase;
}

@keyframes move {
  0% {
    transform: translateY(-30%);
  }
}

.second-fotter {
  position: absolute;
  /* left: -2.5%; */
  /* margin-left: 380px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  height: 40px;
  width: 35%;
  bottom: 33px;
  left: 15vw;
  background: rgba(234, 207, 207, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  z-index: 99;
}

.second-fotter .icon {
  font-size: 21px;
  margin-left: 25px;
}

.second-fotter a {
  text-decoration: none;
}

.fotter {
  /*   position: fixed; */
  position: absolute;
  /* left: -2.5%; */
  /* margin-left: 380px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 35%;
  left: 15vw;
  bottom: 1px;
  background: rgba(234, 207, 207, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  z-index: 99;
}

.fotter-icon {
  font-size: 33px;
  font-weight: 20;
  cursor: pointer;
}

.action.active .fotter .fotter-icon {
  transform: rotate(180deg);
}

.about-us {
  z-index: 100;
  position: absolute;
  width: 35%;
  left: 7.5%;
  overflow-y: auto;
  bottom: 35px;
  height: 90px;
  visibility: hidden;
  padding: 30px 17px;
  background: rgba(234, 207, 207, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

.action.active .about-us {
  visibility: visible;
}

.page2 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page2-back {
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.page2-back video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.page2-top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* .page2-work {
  position: relative;
  margin: 0 auto;
  margin-right: 13rem;
  right: 0;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
  border: 1px solid red;
} */

.h5-wrapper {
  position: absolute;
  top: 17vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5-wrapper h5 {
  font-size: 50px;
  font-weight: 900;
}

.card-wrapper {
  position: absolute;
  top: 53vh;
  right: 4rem;
  padding: 10px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-around;
  width: 94vw;
  /* overflow-y: hidden; */
  overflow: hidden;
  /* background-color: green; */
}

.cards {
  height: 43vh;
  width: 13.7vw;
  position: relative;
}

.image-div {
  position: relative;
}

.img {
  height: 42vh;
  width: 13.7vw;
  object-fit: cover;
}

.title-div {
  font-size: 15px;
  position: relative;
  top: -1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-div h5 {
  display: inline-block;
  align-items: center;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-class {
  text-decoration: none;
}

.rating-div {
  width: 13.7vw;
  height: 41vh;
  position: relative;
  /* visibility: hidden; */
  display: none;
  background-color: black;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
}

.rating-progress {
  position: relative;
  height: 26vh;
  width: 13vw;
  /* top: 2rem; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#2ae863 3.6deg, #ededed15 0deg);
}

.rating-progress::before {
  content: '';
  position: absolute;

  height: 22vh;
  width: 11vw;
  border-radius: 50%;
  background-color: black;
}

.rating-value {
  position: relative;
  font-size: 30px;
}

.card-effect {
  transition: 0.4s;
}

.card-effect:hover {
  transform: scale(1.05);
  cursor: pointer;
  .imgage-div {
    /* display: none; */
    visibility: hidden;
  }
  .rating-div {
    cursor: pointer;
    position: absolute;
    top: 0;
    /* visibility: visible; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 


/* .cards {
  width: 17rem;
  height: 450px;
}

.imgage-div {
  height: 420px;
  width: 100%;
}

.rating-div {
  width: 17rem;
  height: 420px;
  position: relative;
  visibility: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#2ae863 3.6deg, #ededed15 0deg);
}

.rating-progress::before {
  content: '';
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: black;
}

.rating-value {
  position: relative;
  font-size: 30px;
}

.title-div {
  width: 100%;
  height: 30px;
  font-size: 15px;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-div h5 {
  display: inline-block;
  align-items: center;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  width: 100%;
  height: 420px; 
  object-fit: cover;
  object-position: bottom;
}

.card-effect {
  transition: 0.4s;
}

.card-effect:hover {
  transform: scale(1.1);
  cursor: pointer;
  .imgage-div {
    display: none;
  }
  .rating-div {
    position: absolute;
    top: 0;
    visibility: visible;
  }
}  */