@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
  margin: 0%;
  padding: 0%;
  color: #fff;
  /* font-family: Gilroy-Medium; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #141414;
  overflow-x: hidden;
}

:root {
  --star-size: 13px;
  --star-color: #fff;
  --star-background: #fc0;
}

.main {
  position: relative;
}

/* .trailer-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.space-for-trailer {
  height: 90vh;
  width: 90vw;
  background-color: grey;
}

.close {
  position: absolute;
  top: 2%;
  right: 6rem;
  cursor: pointer;
}

.close-icon {
  font-size: 25px;
  cursor: pointer;
}

.space-for-trailer iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.poster {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.left {
  height: 100%;
  width: 33%;
  background-color: rgba(0, 0, 0, 1);
}

.left::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* box-shadow: 15px 0 15px rgba(0, 0, 0, 1); */
  z-index: 1;
  -webkit-box-shadow: 21px -8px 29px 24px rgba(0, 0, 0, 0.91);
  box-shadow: 21px -8px 29px 24px rgba(0, 0, 0, 0.91);
}

.inner-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 680px;
  top: 30%;
  left: 5%;
  z-index: 2;
}

.movie-title {
  max-width: 680px;
}

.rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rating-year {
  display: flex;
  align-items: center;
  margin-top: 4%;
  gap: 20px;
}

.Stars {
  font-family: 'FontAwesome';
  --percent: calc(var(--rating) / 10 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  line-height: 1;
}

.Stars::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.year p {
  /* font-family: Gilroy-Thin; */
  font-weight: 800;
}

.story {
  max-width: 680px;
  margin-top: 4%;
}

.story p {
  max-height: 5rem;
  /* background-color: red; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* font-family: Gilroy-Medium; */
  font-weight: 400;
}

.trailer-button {
  /* margin-top: 5%; */
  display: inline-flex;
  align-items: center;
}

.trailer-button button {
  background-color: #191a1a;
  width: 175px;
  height: 50px;
  padding: 0 9px;
  border: none;
  outline: none;
  margin-top: 4%;
  /* font-family: Gilroy-Bold; */
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.trailer-button p {
  margin: 0;
  margin-right: 10px;
  /* margin-left: 12px; */
}


.trailer-button button:hover {
  /* background-color: #2f2f2f; */
  background-color: #ff0000;
  color: black;
}

.right {
  height: 100%;
  width: 70%;
}

.img-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 200px 0 150px rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.3);
}

.right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movies-section {
  width: 100vw;
  height: 33rem;
  /* background-color: green; */
}

.movies-explore {
  width: 95vw;
  height: 5rem;
  margin: auto;
  /* background-color: grey; */
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movies-explore a {
  text-decoration: none;
}

.movies-explore p {
  color: #1189e6;
  cursor: pointer;
}

.movies-explore p:hover {
  color: #194C75;
}

.media-scroll {
  width: 100vw;
  height: 25rem;
  display: flex;
  align-items: center;
  /* background-color: green; */
  overflow-x: auto;
  overflow-y: auto;
  gap: 2rem;
  margin-left: 1rem;
}

.toprated-media-scroll {
  width: 100vw;
  height: 25rem;
  display: flex;
  align-items: center;
  /* background-color: green; */
  overflow-x: auto;
  overflow-y: auto;
  gap: 2rem;
  margin-left: 1rem;
}

.cards {
  width: 13.4rem;
  height: 21.5rem;
  /* background-color: black; */
  position: relative;
  transition: 0.4s;
}

.image-div img {
  height: 20rem;
  object-fit: cover;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.title-div h5 {
  display: inline-block;
  align-items: center;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-div {
  width: 100%;
  height: 20rem;
  position: relative;
  background-color: black;
  display: none;
}

.rating-value {
  position: relative;
  font-size: 20px;
}

.rating-progress {
  position: relative;
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#2ae863 3.6deg, #ededed15 0deg);
}

.rating-progress::before {
  content: '';
  position: absolute;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  background-color: black;
}

.cards:hover {
  transform: scale(1.03);
  cursor: pointer;
  .image-div {
    visibility: hidden;
  }
  .rating-div {
    position: absolute;
    top: 0;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}